<p style="color: green"><%= notice %></p>

<h1>Pages</h1>

<div id="pages">
  <ul>
      <% @pages.each do |page| %>
      <li>
        <%= page.title %>
        <p>
          <%= link_to "Show this page", page %>
        </p>
      </li>
      <% end %>
  </ul>
</div>

<%= link_to "New page", new_page_path %>
