<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
<% @books.each do |book| %>
<p><strong><%= link_to book.title, book %></strong></p>
<ul>

  <li><p>Price: <%= book.price %></p></li>
  <li><p>Published: <%= book.publication_date %></p></li>
</ul>
<% end %>
<div class="pagination">
  <%= paginate @books, window: 2 %>
</div>
