<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>
<% @books.each do |book| %>
<ol>
  <p><strong><%= book.title %></strong></p>
  <p><%= book.price %></p>
  <p><%= book.publication_date %></p>
</ol>
<% end %>
