<h1>About project</h1>
<ul>
  <li><b>Client name: hullsbookstores.com</b></li>
  <li><b>Project title: a local bookstore in Winnipeg</b></li>
  <li><b>By: Khuong Mai (kmai2@rrc.ca)</b></li>
</ul>

<h2>Description of the project</h2>
<p>A client wants to build an online bookstore. The project includes two stages:</p>
<ul>
  <li>First stage, client wants a website can show all book information like: title, author, publisher, price, publication date. Books can be categorized by genres, popular… and users can search to find the books.</li>
  <li>Second stage, they want the system can have features that users can search books, select desired books, view prices, and then order them. In addition, it can store information of customers: address, email, order history.</li>
</ul>
<p>For intro project, I will address to all features in the first stage</p>
<h3>ERD Diagram</h3>
<br>
<img src="../../book_store_intro_project.png">
