<footer>
  <p>Copyright of Book Store 2023</p>
  <ul></ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "List of books", books_path %></li>
    <li><%= link_to "List of publishers", publishers_path %></li>
  </ul>
</footer>