<hr>
<footer>
  <p>
    <em>Copywrong IMDB  2021</em>
  </p>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "List of books", books_path %></li>
    <li><%= link_to "List of publishers", publishers_path %></li>
  </ul>
</footer>